@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&family=Roboto+Condensed:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "Roboto Condensed", sans-serif;
    @apply text-gray-500;
    @apply bg-gradient-darkred;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #211c51;
    border-radius: 5px;
    margin-inline: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f8f4fd;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2d2a44;
  }